<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Default Layouts</title>

  {{!-- resource Js --}}
  {{> pc/resources/common }}
  {{!--// resource Js --}}
</head>
<body>
  <h1>{{title}} layout</h1>
  {{{body}}}
</body>
</html>